<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active"><a href="#about" role="tab" data-toggle="tab">About ITC</a></li>
	<li><a href="#services" role="tab" data-toggle="tab">Our Services</a></li>
	<li><a href="#contact" role="tab" data-toggle="tab">Contact Us</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content divider">

	<div class="tab-pane active" id="about">
		<div><%= image_tag "/images/itc_about.png", class: "img-responsive" %></div>
		
		<h5 class="section">Our Vision:</h5>
		<ol>
			<li>ITC has a vision to be the foremost ground transportation service for small and medium scale industries by 2020.</li>
			<li>ITC is a customer oriented transport system in Indian markets, with a proven commitment to excellence.</li>
			<li>We help our customers transport a wide range of materials like chemicals, medicine, clothes, equipment etc. </li>
			<li>It has a strong backing in terms of its strategically located branch network and trained work force. </li>
			<li>We have a track record of completing door-to-door delivery on committed time.</li>
		</ol>
	</div>

	<div class="tab-pane" id="services">
		<%= image_tag "/images/itc_services.png", class: "img-responsive" %>

		<h5 class="section">We Deliver:</h5>
		<ol>
			<li>Parcel / Cargo</li>
			<li>Full Truck Load (FTL)</li>
			<li>Container</li>
			<li>Over Dimensional Consignment (ODC)</li>
		</ol>

		<em>Our fleet has all types of commercial vehicles like tempo, trucks, containers and trailers.</em>

		<h5 class="section">Value Additions:</h5>
		<ul>
			<li>We provide pick up and delivery. </li>
			<li>We guarantee delivery within committed time.</li> 
			<li>We give (COD) facility. </li>
			<li>We have Godown & Warehousing facility.</li>
		</ul>
	</div>

	<div class="tab-pane" id="contact">
		<div class="row">
			<h5 class="section center">ANKLESHWAR HEAD OFFICE</h5>
			<div class="divider col-md-6 col-md-offset-3">
				<p>
					<span class="primary-text">Director:</span> J.P.Swami - 9328286482, 9998018311<br>
					<span class="primary-text">Account & Admin Head:</span> Balbir Sahu	- 9377048798, 02646-220104<br>
					<span class="primary-text">CHS:</span> Karnesh Swami - 9375754029<br>
					<span class="primary-text">IT:</span> Muna Singh - 7069305594, 02646-325922<br>
					<span class="primary-text">BKG & DLY Incharge:</span> K.L.Swami - 9375102783<br>
					<span class="primary-text">Trafic Incharge:</span> J.R.Sharma - 9328286483, 02646-224634
				<p>
					<span class="primary-text">Address:</span> Plot no. 322, Opp. Lakshmi Hotel, Nr. Asian Paints chowkdi, GIDC Estate, Ankleshwar - 393002. Gujarat, India.
				</p>
				<p>
					<span class="primary-text">Email:</span> itcankleshwar@yahoo.in, itcankleshwar@gmail.com
				</p>
			</div>
		</div>

		<div class="row">
			<h5 class="section center">BRANCH OFFICES</h5>
			<div class="divider col-md-6">
				<p>
					<span class="primary-text">ASLALI:</span><br>
					Branch Incharge: 9377962204<br>
					Gala no. 5, Gurukripa Estate, Opp. Janaki Hotel, Aslali Gaon, Ahmedabad.
				</p>
				<p>
					<span class="primary-text">BARODA:</span><br>
					Branch Incharge: 9376220870<br>
					C-440 Sayagi Market, Nr. Ajwachowkdi, NH no 8, Sayajiputa, Baroda.
				</p>
				<p>
					<span class="primary-text">MAKARPURA:</span><br>
					Branch Incharge: 9376220870 <br>
					C-440 Sayagi Market, Nr. Ajwachowkdi, NH no 8, Sayajiputa, Baroda.
				</p>
				<p>
					<span class="primary-text">VAPI:</span><br>
					Branch Incharge: O.P.Sukla - 9327680814, 7069305595<br>
					Plot No.61 C-1 ,100 Sead Area, Nashik Road, GIDC, Vapi.
				</p>
			</div>

			<div class="divider col-md-6">
				<p>
					<span class="primary-text">AHMEDABAD:</span><br>
					Branch Incharge: Nagar Das - 9377962204<br>
				</p>
				<p>
					<span class="primary-text">BHIWANDI:</span><br>
					Branch Incharge: 9325329131<br> 
					Gala no. 4, Jagaran Garaj ompound, Nr. Jagaran Garaj, B/H Jagran Weight bridge, Purana, Village - Bhiwandi.
				</p>
				<p>
					<span class="primary-text">PUNE:</span><br>
					Branch Incharge: 9637770586 <br>
					Gate no. 144B, Chimbli fata, Nr. Gati Pune-Nasik Highway, Village - Kurli chakhan, Pune.
				</p>
				<p>
					<span class="primary-text">DAHEJ:</span><br>
					Branch Incharge: V.K.Sukla - 9725561386<br>
					B/H Kumarsala, Nr. Jhatpat Studio, Dahej gam, Dahej, District - Bharuch.
				</p>
			</div>
		</div>
	</div>

</div>