<div class="section"></div>
<div class="primary-stripe foot">
	ITC 1996-2014. Subject to Ankleshwar Jurisdiction.
	<span class="pull-right">
		Website created by <a href="mailto:pg359@cornell.edu">Pranav Gupta</a>. (M) 9586238177.
	</span>
</div>